{% extends "base.html" %}

{% block style_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css')}}">
{% endblock style_css %}

{% block page_title %}
登录
{% endblock page_title %}

{% block content %}
<form method="post">
    {{ form.csrf_token }}
    <div class="form-items">
        {{ form.username.label }} 
        {{ form.username }} 
    </div>
    <div class="form-items">
        {{ form.password.label }} 
        {{ form.password }} 
    </div>
    <div class="form-items">
        {{ form.remember.label }} 
        {{ form.remember }} 
    </div>
    <div class="form-items">
        {{ form.submit }} 
    </div>




</form>
{% endblock content %}