html,
body {
    margin: 0;
    padding: 0;
}

body {
    max-width: 800px;
    margin: 0 auto;
    border: 1px solid #ccc;
    /* 边框样式 */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    /* 添加四周阴影效果 */
    border-radius: 20px;
    /* 添加圆角效果，半径为10像素 */
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
}

h1,
h2,
h3,
p,
a {
    font-family: "NSimSun";
    margin: 5px;

}

nav {
    text-align: right;
    margin-top: 10px;
}

h1::after {
    content: "";
    display: block;
    height: 1px;
    margin-bottom: 10px;
    background-color: #D7BBF5;
    /* 设置分割线的颜色 */
}

p {
    font-size: 17px;
    margin-bottom: 20px;
}


a:link {
    text-decoration: none;
    color: #6528F7;
}

a:visited {
    text-decoration: none;
    color: #6528F7;
}

a:active {
    text-decoration: none;
    color: #6528F7;
}

a:hover {
    color: #D7BBF5;
}

footer::before {
    content: "";
    display: block;
    height: 1px;
    background-color: #D7BBF5;
    margin-bottom: 10px;
    margin-top: 20px;
}

footer {
    text-align: center;
}

span.copyright {
    font-size: 5px;
}

nav.pagination {
    text-align: center;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown button {
    background: none;
    border: none;
    cursor: pointer;
    text-decoration: underline;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    /* 设置下拉菜单的背景颜色 */
    min-width: 100px;
    width: auto;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content li {
    display: block;
}

.dropdown-content li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
    color: black;
}

.dropdown-content li a:hover {
    background-color: #ddd;
    /* 设置下拉菜单项的悬停背景颜色 */
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown-content li {
    display: block;
    width: 100%;
}