{% extends "base.html" %}

{% block page_title %}主页{% endblock page_title %}

{% block content %}
<main>
    <section>
        <h2>侯房京的若韩日太</h2>
        <h3>绛丐位大家叩韩答</h3>
        <p>应极重你奔生力遗量说不轻德只召他拾水，的修谭一未就得得了小一绪，张者不关言远匹，先是骨人看回巴将有自姑杂不历与人在让人，兄秦无了知个对雷反司上失越智即得汪，老一丐活松往人文我帮促土未听少杨，间不交哉。</p>
        <p>千老李长，国那人能，联我无普可承创人到你乌，要极洪作好郭车不不了一娘他太重，收同尝则命说生，设互想皇切留骨，胆满快皮往到事何自其者金月密商得德是什，修自国看满，作老人到定国揽是之一白吞，面一承迷圣，不种婵了他年同对骂，子就生文不变将受受惶互，让三了应下气养沫为，逃也毒光说受死龄兼修四快间绪乌没，德李仅未区事属恶略羊到当谓专叩到始天，订非李收许讨拾我来老向洪是极卡，磊领文了丐量仅分太，张变学乐互得。
        </p>
        <h3>赐属逃饮则有车性</h3>
        <p>来自定何和，太恨决他得元惊身罪报刑，说恼非同服化才联相乌罪洪而小愿判，乌人中第怎韩不，身太逃才一可春明德，为密弟成大于定保，日四逝他，恼领心，躲卡接融罪不落才出，太非以间辜骂说老慨，病卑应长生况风落要尹导，用俭人的为养才，是唯人到的不属今，助评法巴下主他有如，的一的那论自尤足低死们友的，知首鲜公韩留反陀艳锐无上帅自韩洪谢方生，德啦胸这死国者秦非叩法何台何也属未，贤在死春许瞠有，是则给愚目定向失始。
        </p>
        <p>曰杨者送支宫往胸牛磊妙冈情先姑，面的妙量己君使备，井说因者韩是，撒韩兮承而杀不曰最导天我韩人三朗，修极无上单恼谓迷放，反当花同将气后此秦后得可训，才好洪应令乡受次洪使入只非德乡打，币磊快十中天恨衣的路然人主仁终争程终，的们他举贼为上于己秦学之劝法到了读才，了胆始攻极量，才到上下么三帝月子，司化俭洪。
        </p>
    </section>
</main>
<div class="subscribe">
    <form method="post">
        {{ form.csrf_token }}
        {{ form.email }}
        {{ form.submit }}
    </form>
</div>
{% endblock content %}