{% extends "base.html" %}


{% block page_title %}
文章
{% endblock page_title %}


{% block content %}
<main>
    <div class="filter-items">
        <li class="filter-item" style="display: inline;"><a href="{{ url_for('user.show_posts', filter='timestamp')}}">最新</a></li>
        <li class="filter-item" style="display: inline;"><a href="{{ url_for('user.show_posts', filter='mention')}}">最热</a></li>
    </div>
    <div class="posts-container">
        <!-- 变量：时间戳、文章标题、文章分类 -->
        <!-- 链接：文章链接、分类归档页链接 -->

        {% if posts %}

        {% for post in posts %}
        <div class="post-items">
            <li class="post-item" style="display: inline;">{{ post.timestamp.strftime("%Y/%m/%d") }}</li>
            <li class="post-item" style="display: inline;"><a href="{{ url_for( 'user.show_post', post_id=post.id )}}">{{ post.title }}</a></li>
            <li class="post-item" style="display: inline;"><a href="{{ url_for( 'user.show_category', category_id=post.category.id )}}">{{ post.category.name }}</a></li>
            <li class="post-item" style="display: inline;"><a href="{{ url_for( 'user.show_messages', post_id=post.id )}}">{{ post.mention }}<span>次提及</span></a></li>
        </div>
        {% endfor %}
        <nav class="pagination">
            <!-- 变量： 导航按钮数量-->
            <!-- 链接：页码指定页面 -->
            {% for page in range(page_number) %}
            <li style="display: inline;"><a href="{{ url_for('user.show_posts', page=page+1, filter=request.args.get('filter'))}}">{{ page+1 }}</a></li>
            {% endfor %}
        </nav>
        {% else %}
        <p>还没有发布文章。</p>
        {% endif %}
    </div>
</main>
{% endblock content %}