{% extends "base.html" %}

{% block page_title %}
管理分类
{% endblock page_title %}


{% block content %}
<a href="{{ url_for('admin.new_category') }}">添加分类</a>
<div class="categories-items">
    {% if categories %}
    {% for category in categories %}
    <div class="category-items">
        <li class="category-item" style="display: inline;"><a href="{{ url_for('user.show_category', category_id=category.id) }}">{{ category.name }}</a></li>
        <li class="category-item" style="display: inline;"><a href="{{ url_for('admin.edit_category', category_id=category.id) }}">编辑</a></li>
        <form  style="display: inline;" action="{{ url_for('admin.delete_category', category_id=category.id) }}" method="post">
            <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
            <button type="submit" onclick="return confirm('确定要删除该分类吗？')">删除</button>
        </form>

    </div>
    {% endfor %}    
    {% endif %}
</div>
{% endblock content %}