{% extends "base.html" %}

{% block style_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_post.css')}}">
{% endblock style_css %}

{% block page_title %}
添加新文章
{% endblock page_title %}

{% block content %}
<form method="post">
    {{ form.csrf_token }}
    {{ form.title.label }} <br>
    {{ form.title }} <br>
    {{ form.category.label }} <br>
    {{ form.category }} <br>
    {{ form.body.label }} <br>
    {{ form.body }} <br>
    {{ form.submit }}
</form>

{% endblock content %}

{% block scripts %}
{{ super() }}
{{ ckeditor.load() }}  <!-- 网页编辑器还有很大的升级空间，ckeditor-5 给人很舒适的体验 -->
{{ ckeditor.config(name='body') }}
{% endblock scripts %}