<!DOCTYPE html>
<html lang="zh">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}">
    {% block style_css %}{% endblock style_css %}
    <title>高天驰的个人博客</title>
    {% endblock head %}
</head>

<body>
    <nav>
        <li class="nav-item" style="display: inline;"><a href="{{ url_for('user.home')}}">主页</a></li>
        <li class="nav-item" style="display: inline;"><a href="{{ url_for('user.show_posts')}}">文章</a></li>
        <li class="nav-item" style="display: inline;"><a href="{{ url_for('user.show_messages')}}">留言板</a></li>
        <li class="nav-item" style="display: inline;"><a href="{{ url_for('user.show_projects')}}">项目</a></li>
        {% if current_user.is_authenticated %}
        <div class="dropdown">
            <button>管理</button>
            <div class="dropdown-content">
                <li><a href="{{ url_for('admin.manage_post') }}">文章</a></li>
                <li><a href="{{ url_for('admin.manage_category') }}">分类</a></li>
                <li><a href="{{ url_for('admin.manage_message') }}">留言</a></li>
                <li><a href="{{ url_for('admin.manage_project') }}">项目</a></li>
            </div>
        </div>
        {% endif %}
    </nav>
    <h1>{% block page_title %}主页{% endblock page_title %}</h1>
    {% if get_flashed_messages() %}
    <div class="messages-items">
        {% for flash_message in get_flashed_messages() %}
        <div class="message-item"><span>{{ flash_message }}</span></div>
        {% endfor %}
    </div>

    {% endif %}

    {% block content %}
    Hello world
    {% endblock content %}

    <footer>
        <div class="links">
            <li class="link-item" style="display: inline;"><a href="https://github.com/2022Jean">GitHub</a></li>
            <!-- TODO RSS 功能 -->
            <li class="link-item" style="display: inline;"><a href="#">RSS</a></li>
            {% if current_user.is_authenticated %}
            <li style="display: inline;"><a href="{{ url_for('auth.logout', next=request.full_puth) }}">登出</a></li>
            {% else %}
            <li style="display: inline;"><a href="{{ url_for('auth.login', next=request.full_puth)}}">登录</a></li>
            {% endif %}
        </div>

        <span class="copyright">&copy;2023 高天驰的个人博客</span>
    </footer>
    {% block scripts %}
    {% endblock scripts %}
</body>

</html>