<!DOCTYPE html>
<html lang="zh">

<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" type="image/x-icon">
    <title>{% block title %}高天驰的个人博客{% endblock title %}</title>
    {% endblock head %}
</head>

<body>
    <nav>
        <li class="nav-item"><a href="#">主页</a></li>
        <li class="nav-item"><a href="#">文章</a></li>
        <li class="nav-item"><a href="#">留言板</a></li>
        <li class="nav-item"><a href="#">项目</a></li>
    </nav>
    <h1>{% block page_title %}主页{% endblock page_title %}</h1>
    
    {% block content %}
    Hello world
    {% endblock content %}

    <footer>
        <div class="links">
            <li class="link-item"><a href="#">GitHub</a></li>
            <li class="link-item"><a href="#">RSS</a></li>
        </div>

        <!-- todo: 邮箱订阅表单 -->

        <p class="copyright">&copy;2023 高天驰的个人博客</p>
    </footer>
    {% block scripts %}
    
    {% endblock scripts %}
</body>

</html>